<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.owentech.DevDrawer"
          android:versionCode="8"
          android:versionName="1.1">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="17"/>
    <uses-permission android:name="android.permission.BIND_REMOTEVIEWS"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
                 android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
            >
        <activity android:name=".activities.MainActivity"
                  android:label="@string/app_name"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.ClickHandlingActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.Light.Dialog"
                  android:exported="true"
                  android:noHistory="true"
                  android:excludeFromRecents="true"
                  android:taskAffinity="">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.EditDialog" android:theme='@android:style/Theme.Holo.Light.Dialog.NoActionBar'/>
        <activity android:name=".activities.PrefActivity"/>
        <activity android:name=".activities.ChooseActivityDialog" android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"/>

        <activity android:name=".activities.LegacyDialog"
                  android:theme="@android:style/Theme.Dialog"
                  android:exported="true"
                  android:noHistory="true"
                  android:excludeFromRecents="true"
                  android:taskAffinity=""/>

        <activity android:name=".activities.LocaleSwitcher"/>


        <receiver android:name=".receivers.AppInstalledReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_INSTALL"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.AppUninstalledReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!--<service android:name=".UpdateWidgetService"></service>-->

        <receiver android:icon="@drawable/ic_launcher"
                  android:label="@string/app_name"
                  android:name=".appwidget.DDWidgetProvider"
                  android:enabled="@bool/widgetEnabled">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_info"/>
        </receiver>
        <service android:name=".appwidget.DDWidgetService"
                 android:permission="android.permission.BIND_REMOTEVIEWS"/>

    </application>

</manifest>
